.right-main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 100%;
}

.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; 
}

.hero-container {
    position: relative;
    margin-bottom: 0;
    right: 0;
    z-index: 2;
    width: 618px;
    display: block;
    left: 0;
}

.background {
    width: 100%;
    height: 100%;
    z-index: 1; 
    display: block;
    object-fit: cover;
}

.explore-btn-container {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
}

.create-btn-container {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
}
 
.create-btn {
    position: fixed;
    box-sizing: border-box;
    width: 134px;
    height: 37px;
    display: block;
    color: white;
    background: #cfdfb3;
    border: 2px solid;
    border-image: linear-gradient(45deg, #5968ff, #7a86ff, #9ba4ff, #bdc3ff, #dee1ff) 1;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    right: 8%;
    top: 15%;
}

.explore-btn {
    position: fixed;
    box-sizing: border-box;
    width: 134px;
    height: 37px;
    border: 2px solid #FD1C1C;
    background-color: #9fc1cd;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    top: 15%;
    right: 23%;
}
 