.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 9999;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  flex-shrink: 0;
}

.icon {
  height: 65px;
  width: auto;
  flex-shrink: 0;
}

.logo-image {
  height: 58px;
  width: auto;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
